<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS for navbar-->
    <style>
    body {
      padding-top: 50px;
      padding-left: 110px;}

    h1 {
      padding-top: 20px;
      padding-bottom: 20px;}

    #ProjectValueText, #ProjectMethodologyText {
        font-family: "HelveticaNeue-Light";
        font-size: 18px;

         }

    img class=“img-responsive” {
        padding-bottom: 20px;
        }


    </style>


    <meta charset="UTF-8">
    <h1>Project Value </h1>

    <ul id='ProjectValueText'>
      <li>59.3 million people in US and Canada that played fantasy sports in 2017.</li>
      <li>Total of $18 billion is spent on fantasy sports annually. By comparison, $140 billion is wagered on real sports and $70 billion is spent 
        in lotteries.
      </li>
      <li>Although there are a multitude of websites online that allows free access to historical data, only a few provide projections for future 
        performance which likely charge some sort of fee nor give specifics of how those projections are made. Developing accurate projections would 
        provide a competitive edge. 
      </li>
    </ul>

    <img class=“img-responsive” src={{url_for('static', filename='growth-fantasy-sports.png')}} height="400" width="700" align="middle" />



    <h1>Project Methodology </h1>
    <ul id='ProjectMethodologyText'>
    <li>Data scraping and wrangling was performed with Requests and Beautiful Soup. Further data manipulation and organization was performed with Pandas.
      </li>
      <li>Regression analysis and feature importances were derived from Random Forest Regressors.
        </li> 
      <li>Visualizations were made using Matplotlib/Seaborn and Bokeh.
        </li> 
      <li>Web application was developed using HTML stack: JavaScript, JQuery, Ajax, CSS/Bootstrap.
        </li> 
      <li>Web application was deployed using Flask, Heroku and Docker. 
        </li> 
    </ul>
<!--

    <img class=“img-responsive” src={{url_for('static', filename='ProjectMethodology.png')}} height="360" width="625"/>
-->
    <p>     </p>


</head>
<body>

 <!-- navigation -->
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-1">
          <span class="sr-only">Toggle navigation</span>
          </button>
          <span class="navbar-brand">Fantasy Basketball Projections App</span>
        </div>

        <div class="collapse navbar-collapse" id="nav-1">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
            </li>


          </ul>

        </div>
      </div>
    </nav>



</body>
</html>